/*
작성날짜:22.5.13
작성자:홍길동
기능:외부파일을 이용한 스타일시트 적용
		동일한 태그에 다른 스타일을 여러번 반복해서 사용
		무조건 마지막 부분이 적용이 된다.(프로젝트 할 때 순서 중요)
*/

h4,h3,ol {
			font-family:돋움체; /* 글자체 */
			font-size:14pt; /* 글자 크기*/
			color:green; /*글자색*/
			font-weight:bold;/*글자 굵게(강조) bold,bolder,200,300 ~ */
}